.converter-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color:rgb(135, 201, 152);
  }
  
  #currency {
    text-align: center;
    color: white;
    background-color: cadetblue;
  }
  
  .input-section, .currency-selection {
    margin: 20px 0;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 30%;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .result-section {
    margin-top: 20px;
    text-align: center;
  }
  
  .result-section p {
    font-size: 18px;
    font-weight: bold;
  }
  